node-red/flows.json
[
    {
        "id": "92b0cf29d2b7c241",
        "type": "tab",
        "label": "M13 - PRAUAS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "539e7fb3a2727282",
        "type": "inject",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 960,
        "wires": [
            [
                "1021215d1edc7b45",
                "3adb8885d3088354",
                "26e8270b09a44186",
                "4e89b2c609e1c175",
                "be49a604d48bcb82",
                "1e96854c4facb53f",
                "d550de9957656d0d",
                "70139d93b8af1415",
                "074840ee6e7a51d7",
                "8a96149af129e41d",
                "e8ebc1c85b66a40b",
                "a4ac88cf33601ee1",
                "94ecef65db37fecd",
                "95750a0d0cccac4e",
                "6cf3e75db4f4a1b4",
                "c4eb98096aec03fc",
                "b71b5fdc9b953beb",
                "6777d1b2ca637f34",
                "82cbed5355e81f84",
                "053d22d8629b921c",
                "abfca30411b42341",
                "9408e0b7a24ae7c1",
                "f8a7af2e8d6812a3",
                "f9604af39974de31",
                "92e5d710b931d549",
                "9b60f99371dac0f6",
                "d9315a240e2d1255"
            ]
        ]
    },
    {
        "id": "1021215d1edc7b45",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Temperature Infrared ",
        "low": "-30",
        "high": "380",
        "inte": "true",
        "property": "payload",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "75ad4702266e811c",
                "fb9b7d5f99876a39"
            ]
        ]
    },
    {
        "id": "cc24b1c0cf96b58b",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 180,
        "wires": [
            [
                "58e48670f2f44b53"
            ]
        ]
    },
    {
        "id": "26e8270b09a44186",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Conductivity ",
        "low": "0",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "17b88d3b01012916",
                "1bda0fd671c1c579"
            ]
        ]
    },
    {
        "id": "3adb8885d3088354",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Flow Susu ",
        "low": "0",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "dc597d66af9e56d3",
                "66f166489ac74484"
            ]
        ]
    },
    {
        "id": "dc597d66af9e56d3",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/flow",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "ce2601dfc990423d",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/conductivity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 220,
        "wires": [
            [
                "58e48670f2f44b53"
            ]
        ]
    },
    {
        "id": "0fc8cd5a98a4e961",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/flow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 260,
        "wires": [
            [
                "58e48670f2f44b53"
            ]
        ]
    },
    {
        "id": "a01845d5bc5d53d5",
        "type": "comment",
        "z": "92b0cf29d2b7c241",
        "name": "Pabrik Smart Farm",
        "info": "",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "27f88cde064dca21",
        "type": "comment",
        "z": "92b0cf29d2b7c241",
        "name": "Subsistem susu hewani dan telur",
        "info": "",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "4e89b2c609e1c175",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor CO",
        "low": "0",
        "high": "500",
        "inte": "true",
        "property": "payload",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "c13bc762ee208a6e",
                "af4cf1f128cfc3bb"
            ]
        ]
    },
    {
        "id": "be49a604d48bcb82",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Amonia",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "da2dde03bff9cb29",
                "aa1d078f178a0b4f"
            ]
        ]
    },
    {
        "id": "1e96854c4facb53f",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Pressure ",
        "low": "0",
        "high": "500",
        "inte": "true",
        "property": "payload",
        "x": 430,
        "y": 420,
        "wires": [
            [
                "efbf25f086ebb51e",
                "decd3cdd879e603a"
            ]
        ]
    },
    {
        "id": "5dbae5a2cc1dc267",
        "type": "comment",
        "z": "92b0cf29d2b7c241",
        "name": "Subsistem daging merah",
        "info": "",
        "x": 450,
        "y": 300,
        "wires": []
    },
    {
        "id": "17b88d3b01012916",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/conductivity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "75ad4702266e811c",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "c13bc762ee208a6e",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/co",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "da2dde03bff9cb29",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/amonia",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "efbf25f086ebb51e",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/pressure",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "22ac77960a317dec",
        "type": "comment",
        "z": "92b0cf29d2b7c241",
        "name": "Subsistem daging putih",
        "info": "",
        "x": 440,
        "y": 460,
        "wires": []
    },
    {
        "id": "2ee56ef12a239536",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/co",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 340,
        "wires": [
            [
                "58e48670f2f44b53"
            ]
        ]
    },
    {
        "id": "af6b04715c7617e0",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/amonia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 380,
        "wires": [
            [
                "58e48670f2f44b53"
            ]
        ]
    },
    {
        "id": "e28ae9c2f1dc2c46",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 420,
        "wires": [
            [
                "58e48670f2f44b53"
            ]
        ]
    },
    {
        "id": "9b91654fc4082447",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/o2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 500,
        "wires": [
            [
                "58e48670f2f44b53"
            ]
        ]
    },
    {
        "id": "297999d0cf9abedb",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/co2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 540,
        "wires": [
            [
                "58e48670f2f44b53"
            ]
        ]
    },
    {
        "id": "df31eafdc074f205",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/waterlevel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 580,
        "wires": [
            [
                "58e48670f2f44b53"
            ]
        ]
    },
    {
        "id": "58e48670f2f44b53",
        "type": "debug",
        "z": "92b0cf29d2b7c241",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 400,
        "wires": []
    },
    {
        "id": "fb9b7d5f99876a39",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "711ccb34613a3b18",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Temperature Infrared",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-50",
        "max": "380",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "1bda0fd671c1c579",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "711ccb34613a3b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Conductivity ",
        "label": "mS/cm",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 940,
        "y": 220,
        "wires": []
    },
    {
        "id": "66f166489ac74484",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "711ccb34613a3b18",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Flow Susu ",
        "label": "L/min",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "af4cf1f128cfc3bb",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "3dd209acc787601b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor CO",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "aa1d078f178a0b4f",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "3dd209acc787601b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Amonia",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "decd3cdd879e603a",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "3dd209acc787601b",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Pressure",
        "label": "kPa",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 920,
        "y": 420,
        "wires": []
    },
    {
        "id": "70139d93b8af1415",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor CO2",
        "low": "0",
        "high": "5000",
        "inte": "true",
        "property": "payload",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "e90f801b279862d1",
                "77e3d18118c87ae7"
            ]
        ]
    },
    {
        "id": "074840ee6e7a51d7",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Water Level ",
        "low": "0",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "fac9717bab9943eb",
                "3ac4dd3568d8479b"
            ]
        ]
    },
    {
        "id": "e90f801b279862d1",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/co2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "fac9717bab9943eb",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/waterlevel",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 700,
        "y": 580,
        "wires": []
    },
    {
        "id": "77e3d18118c87ae7",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "a3488491e2c6cbca",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor CO2",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 910,
        "y": 540,
        "wires": []
    },
    {
        "id": "3ac4dd3568d8479b",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "a3488491e2c6cbca",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Water Level ",
        "label": "m",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 580,
        "wires": []
    },
    {
        "id": "d550de9957656d0d",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor O2",
        "low": "0",
        "high": "25",
        "inte": "true",
        "property": "payload",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "55c2d718e478fb42",
                "07cd3235336a9527"
            ]
        ]
    },
    {
        "id": "55c2d718e478fb42",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p1/o2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "07cd3235336a9527",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "a3488491e2c6cbca",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor O2",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 910,
        "y": 500,
        "wires": []
    },
    {
        "id": "8a96149af129e41d",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Soil Moisture",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 760,
        "wires": [
            [
                "fc28994f6f158fb9",
                "756916302d3e18af"
            ]
        ]
    },
    {
        "id": "e8ebc1c85b66a40b",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor pH ",
        "low": "0",
        "high": "14",
        "inte": "true",
        "property": "payload",
        "x": 410,
        "y": 800,
        "wires": [
            [
                "479ff59cfd7a6e07",
                "85be3231859cc42b"
            ]
        ]
    },
    {
        "id": "a4ac88cf33601ee1",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Sunlight ",
        "low": "0",
        "high": "1000",
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 840,
        "wires": [
            [
                "45bd7deacb7f1204",
                "685c6d953a024549"
            ]
        ]
    },
    {
        "id": "45bd7deacb7f1204",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/sunlight",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 690,
        "y": 840,
        "wires": []
    },
    {
        "id": "2a143c25c11dbc6f",
        "type": "comment",
        "z": "92b0cf29d2b7c241",
        "name": "Pabrik Smart Plantation",
        "info": "",
        "x": 440,
        "y": 680,
        "wires": []
    },
    {
        "id": "47fc6fc6398586a0",
        "type": "comment",
        "z": "92b0cf29d2b7c241",
        "name": "Subsistem sumber karbohidrat",
        "info": "",
        "x": 460,
        "y": 720,
        "wires": []
    },
    {
        "id": "94ecef65db37fecd",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Humidity",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 920,
        "wires": [
            [
                "95ebdfcd08ec32a9",
                "95dedfc152c45023"
            ]
        ]
    },
    {
        "id": "95750a0d0cccac4e",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Anemometer",
        "low": "0",
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 960,
        "wires": [
            [
                "95fa1103f268a788",
                "8bc2f62352a4894f"
            ]
        ]
    },
    {
        "id": "6cf3e75db4f4a1b4",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor UV ",
        "low": "0",
        "high": "1000",
        "inte": "true",
        "property": "payload",
        "x": 410,
        "y": 1000,
        "wires": [
            [
                "2eca4edb694079e6",
                "0a028a2f655a380f"
            ]
        ]
    },
    {
        "id": "8bba1d349840e2e8",
        "type": "comment",
        "z": "92b0cf29d2b7c241",
        "name": "Subsistem sayuran",
        "info": "",
        "x": 430,
        "y": 880,
        "wires": []
    },
    {
        "id": "479ff59cfd7a6e07",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/ph",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 670,
        "y": 800,
        "wires": []
    },
    {
        "id": "fc28994f6f158fb9",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/moisture",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 690,
        "y": 760,
        "wires": []
    },
    {
        "id": "95ebdfcd08ec32a9",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/humidity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 690,
        "y": 920,
        "wires": []
    },
    {
        "id": "95fa1103f268a788",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/anemometer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 710,
        "y": 960,
        "wires": []
    },
    {
        "id": "2eca4edb694079e6",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/uv",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 670,
        "y": 1000,
        "wires": []
    },
    {
        "id": "bfec59819f5b71c3",
        "type": "comment",
        "z": "92b0cf29d2b7c241",
        "name": "Subsistem buah-buahan",
        "info": "",
        "x": 450,
        "y": 1040,
        "wires": []
    },
    {
        "id": "756916302d3e18af",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "344f5742c541c6d1",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Soil Moisture",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 940,
        "y": 760,
        "wires": []
    },
    {
        "id": "85be3231859cc42b",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "344f5742c541c6d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor pH",
        "label": "unit",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 910,
        "y": 800,
        "wires": []
    },
    {
        "id": "685c6d953a024549",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "344f5742c541c6d1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Sunlight",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 920,
        "y": 840,
        "wires": []
    },
    {
        "id": "95dedfc152c45023",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "b393040f13abd20a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 920,
        "wires": []
    },
    {
        "id": "8bc2f62352a4894f",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "b393040f13abd20a",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Anemometer",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 940,
        "y": 960,
        "wires": []
    },
    {
        "id": "0a028a2f655a380f",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "b393040f13abd20a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor UV",
        "label": "mW/cm2",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 910,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b71b5fdc9b953beb",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Berat Buah",
        "low": "0",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 430,
        "y": 1120,
        "wires": [
            [
                "f376198afc82c055",
                "8081f8fc7e285024"
            ]
        ]
    },
    {
        "id": "6777d1b2ca637f34",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Color Hue ",
        "low": "0",
        "high": "360",
        "inte": "true",
        "property": "payload",
        "x": 430,
        "y": 1160,
        "wires": [
            [
                "975084645a6066dc",
                "729ced4f5ee09381"
            ]
        ]
    },
    {
        "id": "f376198afc82c055",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/berat",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 680,
        "y": 1120,
        "wires": []
    },
    {
        "id": "975084645a6066dc",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/color",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 680,
        "y": 1160,
        "wires": []
    },
    {
        "id": "8081f8fc7e285024",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "bfabece2b80ea950",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Berat Buah",
        "label": "kg",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 1120,
        "wires": []
    },
    {
        "id": "729ced4f5ee09381",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "bfabece2b80ea950",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Color Hue ",
        "label": "derajat",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c4eb98096aec03fc",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Solar Radiation",
        "low": "0",
        "high": "2000",
        "inte": "true",
        "property": "payload",
        "x": 450,
        "y": 1080,
        "wires": [
            [
                "123e1d51292f08e9",
                "667527521fc93edd"
            ]
        ]
    },
    {
        "id": "123e1d51292f08e9",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/radiation",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 690,
        "y": 1080,
        "wires": []
    },
    {
        "id": "667527521fc93edd",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "bfabece2b80ea950",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Solar Radiation",
        "label": "W/m2",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 950,
        "y": 1080,
        "wires": []
    },
    {
        "id": "bfdbc2924473cb41",
        "type": "ui_text",
        "z": "92b0cf29d2b7c241",
        "group": "26885f9d2aee26cf",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "f613ed76f0edd304",
        "type": "ui_text",
        "z": "92b0cf29d2b7c241",
        "group": "b99bef571a0498af",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 680,
        "wires": []
    },
    {
        "id": "82cbed5355e81f84",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Barometer",
        "low": "0",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 430,
        "y": 1340,
        "wires": [
            [
                "9b66b9558b75ec47",
                "aa3185596eb663c2"
            ]
        ]
    },
    {
        "id": "053d22d8629b921c",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Wind Vane ",
        "low": "0",
        "high": "360",
        "inte": "true",
        "property": "payload",
        "x": 430,
        "y": 1380,
        "wires": [
            [
                "1afd1473ed9583af",
                "a5dc0a9cdd81da54"
            ]
        ]
    },
    {
        "id": "abfca30411b42341",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Visibility",
        "low": "0",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 1420,
        "wires": [
            [
                "0b5ae7391f56475d",
                "2eb96710b45a85ac"
            ]
        ]
    },
    {
        "id": "0b5ae7391f56475d",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/visibility",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 690,
        "y": 1420,
        "wires": []
    },
    {
        "id": "f1abf12714e98125",
        "type": "comment",
        "z": "92b0cf29d2b7c241",
        "name": "Pabrik Smart Restaurant",
        "info": "",
        "x": 450,
        "y": 1260,
        "wires": []
    },
    {
        "id": "9c55afa3c6fcfe2f",
        "type": "comment",
        "z": "92b0cf29d2b7c241",
        "name": "Subsistem deteksi musim",
        "info": "",
        "x": 450,
        "y": 1300,
        "wires": []
    },
    {
        "id": "d9315a240e2d1255",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Inventory Stock",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 450,
        "y": 1500,
        "wires": [
            [
                "333a8ddf051c0fdc",
                "53e207ac08e14613"
            ]
        ]
    },
    {
        "id": "9b60f99371dac0f6",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Selling Rate",
        "low": "0",
        "high": "5000",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 1540,
        "wires": [
            [
                "0834146256da917d",
                "c6f238a7a35408b2"
            ]
        ]
    },
    {
        "id": "92e5d710b931d549",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Customer Satisfaction",
        "low": "0",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 470,
        "y": 1580,
        "wires": [
            [
                "085577d2bf93646a",
                "dc255851eea8643f"
            ]
        ]
    },
    {
        "id": "2a3a7b2f48925a0a",
        "type": "comment",
        "z": "92b0cf29d2b7c241",
        "name": "Subsistem deteksi hasil penjualan",
        "info": "",
        "x": 480,
        "y": 1460,
        "wires": []
    },
    {
        "id": "1afd1473ed9583af",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/wind",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 680,
        "y": 1380,
        "wires": []
    },
    {
        "id": "9b66b9558b75ec47",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/barometer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 700,
        "y": 1340,
        "wires": []
    },
    {
        "id": "333a8ddf051c0fdc",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/stock",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 700,
        "y": 1500,
        "wires": []
    },
    {
        "id": "0834146256da917d",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/sellingrate",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 720,
        "y": 1540,
        "wires": []
    },
    {
        "id": "085577d2bf93646a",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/satisfaction",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 720,
        "y": 1580,
        "wires": []
    },
    {
        "id": "2744f9f3679f1a81",
        "type": "comment",
        "z": "92b0cf29d2b7c241",
        "name": "Subsistem deteksi jumlah pengunjung",
        "info": "",
        "x": 490,
        "y": 1620,
        "wires": []
    },
    {
        "id": "aa3185596eb663c2",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "d0dc8ce4514ef28d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Barometer",
        "label": "kPa",
        "format": "{{value}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 1340,
        "wires": []
    },
    {
        "id": "a5dc0a9cdd81da54",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "d0dc8ce4514ef28d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Wind Vane",
        "label": "derajat",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 1380,
        "wires": []
    },
    {
        "id": "2eb96710b45a85ac",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "d0dc8ce4514ef28d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Visibility",
        "label": "km",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 920,
        "y": 1420,
        "wires": []
    },
    {
        "id": "53e207ac08e14613",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "edc8bb27efed4fb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Inventory Stock",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 950,
        "y": 1500,
        "wires": []
    },
    {
        "id": "c6f238a7a35408b2",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "edc8bb27efed4fb7",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Selling Rate",
        "label": "item/day",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 1540,
        "wires": []
    },
    {
        "id": "dc255851eea8643f",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "edc8bb27efed4fb7",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Customer Satisfaction",
        "label": "rate",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 1580,
        "wires": []
    },
    {
        "id": "f8a7af2e8d6812a3",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Audio",
        "low": "0",
        "high": "90",
        "inte": "true",
        "property": "payload",
        "x": 410,
        "y": 1700,
        "wires": [
            [
                "7938daf3fbb9c84b",
                "03ec394e8d70ae03"
            ]
        ]
    },
    {
        "id": "9408e0b7a24ae7c1",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Sentimen ",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 430,
        "y": 1740,
        "wires": [
            [
                "424fefeef5164b05",
                "c2846b1a5237047c"
            ]
        ]
    },
    {
        "id": "7938daf3fbb9c84b",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/audio",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 680,
        "y": 1700,
        "wires": []
    },
    {
        "id": "424fefeef5164b05",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/sentimen",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 690,
        "y": 1740,
        "wires": []
    },
    {
        "id": "03ec394e8d70ae03",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "43bc5dc267ef5d29",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Audio",
        "label": "dB",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 920,
        "y": 1700,
        "wires": []
    },
    {
        "id": "c2846b1a5237047c",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "43bc5dc267ef5d29",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Sentimen",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 1740,
        "wires": []
    },
    {
        "id": "f9604af39974de31",
        "type": "random",
        "z": "92b0cf29d2b7c241",
        "name": "Sensor Occupancy",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 430,
        "y": 1660,
        "wires": [
            [
                "21352d79cfb1ed88",
                "13ef281392ad321f"
            ]
        ]
    },
    {
        "id": "21352d79cfb1ed88",
        "type": "mqtt out",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/occupancy",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 700,
        "y": 1660,
        "wires": []
    },
    {
        "id": "13ef281392ad321f",
        "type": "ui_gauge",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "group": "43bc5dc267ef5d29",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Occupancy",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 1660,
        "wires": []
    },
    {
        "id": "e358122901edda31",
        "type": "ui_text",
        "z": "92b0cf29d2b7c241",
        "group": "b171189cef9814e3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 1260,
        "wires": []
    },
    {
        "id": "7ca826fdc442e1f6",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/moisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 760,
        "wires": [
            [
                "374800f2f878e9f0"
            ]
        ]
    },
    {
        "id": "6429fbf2dc746a46",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/ph",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 800,
        "wires": [
            [
                "374800f2f878e9f0"
            ]
        ]
    },
    {
        "id": "4664e1001e0352e9",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/sunlight",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 840,
        "wires": [
            [
                "374800f2f878e9f0"
            ]
        ]
    },
    {
        "id": "074d069d84ad0faa",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 920,
        "wires": [
            [
                "374800f2f878e9f0"
            ]
        ]
    },
    {
        "id": "206898f393b31173",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/anemometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 960,
        "wires": [
            [
                "374800f2f878e9f0"
            ]
        ]
    },
    {
        "id": "8ba23391111b6acb",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/uv",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 1000,
        "wires": [
            [
                "374800f2f878e9f0"
            ]
        ]
    },
    {
        "id": "e3e01aceda56a205",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/radiation",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 1080,
        "wires": [
            [
                "374800f2f878e9f0"
            ]
        ]
    },
    {
        "id": "49aa763ab2bf7834",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/berat",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 1120,
        "wires": [
            [
                "374800f2f878e9f0"
            ]
        ]
    },
    {
        "id": "ecb7676070e5bdbd",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/color",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 1160,
        "wires": [
            [
                "374800f2f878e9f0"
            ]
        ]
    },
    {
        "id": "374800f2f878e9f0",
        "type": "debug",
        "z": "92b0cf29d2b7c241",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 980,
        "wires": []
    },
    {
        "id": "646acd10cfc41f04",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/barometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 1340,
        "wires": [
            [
                "1cd0b940ef2590eb"
            ]
        ]
    },
    {
        "id": "42676a7d18459fb4",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p2/wind",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 1380,
        "wires": [
            [
                "1cd0b940ef2590eb"
            ]
        ]
    },
    {
        "id": "0d74d84fadf5450a",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/visibility",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 1420,
        "wires": [
            [
                "1cd0b940ef2590eb"
            ]
        ]
    },
    {
        "id": "2b7829c42dd6d7fc",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/stock",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 1500,
        "wires": [
            [
                "1cd0b940ef2590eb"
            ]
        ]
    },
    {
        "id": "d74ca3c25b156c77",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/sellingrate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 1540,
        "wires": [
            [
                "1cd0b940ef2590eb"
            ]
        ]
    },
    {
        "id": "4f967c7d2dee75ae",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/satisfaction",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 1580,
        "wires": [
            [
                "1cd0b940ef2590eb"
            ]
        ]
    },
    {
        "id": "fa6cad1539809a76",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/occupancy",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 1660,
        "wires": [
            [
                "1cd0b940ef2590eb"
            ]
        ]
    },
    {
        "id": "e41eeb204ab8a06f",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/audio",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 1700,
        "wires": [
            [
                "1cd0b940ef2590eb"
            ]
        ]
    },
    {
        "id": "f1e0d447f65b36d5",
        "type": "mqtt in",
        "z": "92b0cf29d2b7c241",
        "name": "",
        "topic": "prauas/p3/sentimen",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 1740,
        "wires": [
            [
                "1cd0b940ef2590eb"
            ]
        ]
    },
    {
        "id": "1cd0b940ef2590eb",
        "type": "debug",
        "z": "92b0cf29d2b7c241",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 1560,
        "wires": []
    },
    {
        "id": "b171fef033bd56dc",
        "type": "ui_text",
        "z": "92b0cf29d2b7c241",
        "group": "5ef61f31fe8c69d7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "727660ac399984c1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "711ccb34613a3b18",
        "type": "ui_group",
        "name": "Subsistem susu hewani dan telur",
        "tab": "9690de8435bbd37e",
        "order": 5,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3dd209acc787601b",
        "type": "ui_group",
        "name": "Subsistem daging merah",
        "tab": "9690de8435bbd37e",
        "order": 6,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3488491e2c6cbca",
        "type": "ui_group",
        "name": "Subsistem daging putih",
        "tab": "9690de8435bbd37e",
        "order": 7,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "344f5742c541c6d1",
        "type": "ui_group",
        "name": "Subsistem sumber karbohidrat",
        "tab": "9690de8435bbd37e",
        "order": 8,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b393040f13abd20a",
        "type": "ui_group",
        "name": "Subsistem Sayuran",
        "tab": "9690de8435bbd37e",
        "order": 9,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bfabece2b80ea950",
        "type": "ui_group",
        "name": "Subsistem buah-buahan",
        "tab": "9690de8435bbd37e",
        "order": 10,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26885f9d2aee26cf",
        "type": "ui_group",
        "name": "Pabrik Smart Farm",
        "tab": "9690de8435bbd37e",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b99bef571a0498af",
        "type": "ui_group",
        "name": "Pabrik Smart Plantation",
        "tab": "9690de8435bbd37e",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0dc8ce4514ef28d",
        "type": "ui_group",
        "name": "Subsistem deteksi musim",
        "tab": "9690de8435bbd37e",
        "order": 11,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "edc8bb27efed4fb7",
        "type": "ui_group",
        "name": "Subsistem deteksi hasil penjualan",
        "tab": "9690de8435bbd37e",
        "order": 12,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "43bc5dc267ef5d29",
        "type": "ui_group",
        "name": "Subsistem deteksi jumlah pengunjung",
        "tab": "9690de8435bbd37e",
        "order": 13,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b171189cef9814e3",
        "type": "ui_group",
        "name": "Pabrik Smart Restaurant",
        "tab": "9690de8435bbd37e",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ef61f31fe8c69d7",
        "type": "ui_group",
        "name": "Spacer",
        "tab": "9690de8435bbd37e",
        "order": 4,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9690de8435bbd37e",
        "type": "ui_tab",
        "name": "PRAUAS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]